body {
	background: linear-gradient(to bottom, rgb(150, 172, 192), #a6bcd8);
	font-size: 18px;
	font-family: sans-serif, Verdana, Arial, Helvetica;
	margin: 0;
	height: 100%;
}

p {
	margin: 0;
}

nav#bs {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(64, 78, 99);
}

div#bs-div {
	display: flex;
	padding: 10px;
	margin: 0px 20%;
	justify-content: center;
	font-size: 1.5em;
}

a#bs-item {
	color: whitesmoke;
	padding: 2px;
	margin: 0px auto;
	text-decoration: none;
}

img#logo {
	display: block;
	width: 50%;
	margin: 10px auto;
}

p#page-desc {
	display: block;
	text-align: center;
	font-weight: bold;
	padding: 0 0 10px 0;
	height: 40px;
	line-height: 40px;
	margin: 0px;
	text-wrap: nowrap;
}

p#session-msg {
	display: block;
	text-align: center;
	padding: 5px 0 0 0;
	height: 40px;
	line-height: 40px;
	margin: 0px;
	text-wrap: nowrap;
}

form#login-form {
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: fit-content;
	outline: 1px solid black;
	margin: auto;
	align-items: center;
}

input#login-form-input {
	size: 24;
	margin: 3px 0px;
}

input#login-form-button {
	size: 12;
	margin: 4px 0px;
}